head{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}
#header{
 background-image: url("images/Bizerte.jpg");
    height: 343px;
    background-size: cover;
    position: relative;
    
}
h1{
   position: absolute;
   top: 99px;
   left: 46%;
   color: white;
   background-color: #1D3557;
   padding: 5px 7px;
   border-radius: 10px;
}
h2{
    position: absolute;
    top: 170px;
    left: 33%;
    right: auto;
    color: white;
    background-color: #457B9D;
    padding: 5px 7px;
    border-radius: 10px;
}
#activities{
    background-color:#F1FAEE ;
    height: 378px;
    color: #1D3557;
    font-family: Arial;
    font-weight: 400;
font-size: 16px;
}
.container1{
    display: flex;
}
.item1{
    flex: 1;
}
.item2{
    flex: 1;
}
.item3{
    flex: 1;
    padding: 16px;
    }
  .places{
    width: 115px;
    border-radius:50%;
  }
  .guide{
    height: 394px;
  }
  .avatar{
    border-radius: 1px;
  }
  .container2{
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   display: flex;
   width: 400px;
   height: 294px;
   background-color: #A8DADC;
   position: relative;
   border-bottom:5px solid #1D3557;
   border-radius: 10px;
   align-items: center;
  }
  .item4{
    flex: 1;
    order: 1;
  }
  .item5{
    flex: 1;
  }
  h3{
    color: #1D3557;
    font-family: 'Arial';
   font-weight: 700;
   font-size: 24px;
  line-height: 28px;
  }
  .presentation{
    color: #1D3557;
    font-style: italic;
    font-weight: 400;
   font-size: 16px;
   font-family: 'Arial';
  }
  h4{
    color: #1D3557;
    font-family: 'Arial';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 18px;
  }
  .avatar{
    width: 180px;
height: 248.67px;
border-radius: 10px;
  }